{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-8 well well-lg">
            <h2><br>{{ title }}<br></h2>
        <form action="{{ result_url }}" method="post">
            {{ form.csrf_token }}
            <div>
                {% for field in (form.country, form.region, form.city, form.street, form.house, form.apart) %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <div>{{ field(size=80) }}</div>
                    </div>

                {% endfor %}

            {{ form.submit }}
            <br>
            <br>
            </div>
        </form>

        {% if form.errors %}
            <br>
            <div class="bg-danger well well-lg">
                <h4>Errors:</h4>
                    {% for field, errs in form.errors.items() %}
                            <div class="alert alert-error form-horizontal">
                                {{ field }}:
                                {% for err in errs %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
{% endblock %}