{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-8 well well-lg">
            <h2><br>Add item<br></h2>
        <form action="/add_item" method="post">
            {{ form.csrf_token }}
            <div>
                {% for field in (form.title, form.remain_count, form.cost) %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <div>{{ field(size=80) }}</div>
                    </div>

                {% endfor %}
                <div class="form-group">
                        <label>{{ form.description.label }}</label>
                        <div>{{ form.description(cols="80", rows="10") }}</div>
                </div>
            {{ form.submit }}
            <br>
            <br>
            </div>
        </form>

        {% if form.errors %}
            <br>
            <div class="bg-danger well well-lg">
                <h4>Errors:</h4>
                    {% for field, errs in form.errors.items() %}
                            <div class="alert alert-error form-horizontal">
                                {{ field }}:
                                {% for err in errs %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
{% endblock %}