{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-8 well well-lg">
            <h2><br>{{ title }}<br></h2>
        <form action="{{ result_url }}" method="post">
            {{ form.csrf_token }}
            <div>
                <div class="form-group">
                        <label>{{ form.address.label }}</label>
                        <div>{{ form.address }}</div>
                </div>
                <br>
                <a class="btn btn-primary" href="{{ url_for('add_address') }}">Add new address</a>
                <br><br>
                {% for field in (form.delivery_date, form.payment_method) %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <div>{{ field }}</div>
                    </div>

                {% endfor %}
                <div class="form-group">
                        <label>{{ form.comment.label }}</label>
                        <div>{{ form.comment(cols="80", rows="10") }}</div>
                </div>



            {{ form.submit }}
            <br>
            <br>
            </div>
        </form>

        {% if form.errors %}
            <br>
            <div class="bg-danger well well-lg">
                <h4>Errors:</h4>
                    {% for field, errs in form.errors.items() %}
                            <div class="alert alert-error form-horizontal">
                                {{ field }}:
                                {% for err in errs %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
{% endblock %}