{% extends 'layout.html' %}

{% block content %}
<div class="col-md-10">
    <h2><br>{{table_title}}<br></h2>
    <div class="row">


        <div class="col-md-2">
            <div class="form-inline">
                <div class="panel panel-info">
                    <div class="panel-heading">items on page:
                    </div>
                    <div class="panel-body">
                        <select class="form-control" onchange="document.location=this.options[this.selectedIndex].value">
                            {% for pg_opt in pg_items_opts %}
                                {% if pg_opt.selected %}
	                                <option selected value="{{ url_for('show_items', page_items=pg_opt.count) }}">{{pg_opt.count}}</option>
                                {% else %}
	                                <option value="{{ url_for('show_items', page_items=pg_opt.count) }}">{{pg_opt.count}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">filter by cost:
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">

                            <form action="{{ url_for('show_items', page=pg_number, page_items=items_on_page) }}" method="POST">
                                <div class="form-group">
                                    От:
                                    <input class="form-control" type="number" placeholder={{ cost_min }} name="cost_from">
                                </div>
                                <div class="form-group">
                                    До:
                                    <input class="form-control" type="number" placeholder={{ cost_max }} name="cost_to">
                                </div>
                                <button type="submit" class="btn btn-primary">Применить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    {% if table_rows|length == 0 %}
    <div class="alert alert-info well well-lg" role="alert">
        There's nothing here yet..)
    </div>
    {% else %}
    <table class="table table-bordered table-hover">
        {% for th in table_headers %}
            {% if th[0].startswith('_X_') %}
                <th bgcolor="#FFA500" width="5%">{{th[0].split('_')[-1]}}</th>
            {% else %}
                {% if not th[1] is none %}
                    <th bgcolor="#FFA500" {{ th[1] }}>{{th[0]}}</th>
                {% else %}
                    <th bgcolor="#FFA500">{{th[0]}}</th>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for tr in table_rows %}
            <tr bgcolor="#ADD8E6">
            {% for td in tr %}
                <td>
                    {% if not td.url is none %}
                        <a href="{{ td.url }}">
                    {% endif %}
                    {% if not td.icon is none %}
                        <i class="{{td.icon}}"></i>
                    {% endif %}
                    {% if not td.text is none %}
                        {{td.text}}
                    {% endif %}
                    {% if not td.url is none %}
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="form-horizontal">pages:
        {% for i in range(1, count_of_pages+1) %}
            {% if i == pg_number %}
                <a class="btn btn-primary" href="{{ url_for('show_items', page=i, page_items=items_on_page) }}">{{i}}</a>
            {% else %}
                <a class="btn btn-default" href="{{ url_for('show_items', page=i, page_items=items_on_page) }}">{{i}}</a>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    {% endif %}
</div>
{% endblock %}