{% extends 'layout.html' %}

{% block content %}
<div class="col-md-10">
    <h2><br>{{item.title}}<br></h2>
    <div class="row">


        <div class="col-md-6">
        </div>
        <div class="col-md-4">
            <div class="bg-danger well well-lg">
                <div>
                    <h3>{{item.cost}} Р</h3>
                </div>

                <div>
                    {% if item.remain_count < 5 %}
                        <div class="alert alert-danger">
                    {% elif item.remain_count < 10 %}
                        <div class="alert alert-warning">
                    {% else %}
                        <div class="alert alert-success">
                    {% endif %}
                            Remain count: {{item.remain_count}}
                        </div>
                </div>

                <div class="form-inline">
                    {% if current_user.is_anonymous %}
                        <form action="/login" method="GET">
                    {% else %}
                        <form action="{{ url_for('item_page', item_id=item_id) }}" method="POST" >
                    {% endif %}

                        {{ form.csrf_token }}
                    {% if item_in_basket %}
                        {{form.remove_from_basket}}
                    {% else %}
                        {{form.add_to_basket}}
                        {{form.count}}
                    {% endif %}
                    </form>
                    <br>
                    {% if form.errors %}
                    <div class="bg-danger well well-sm">
                    <h5>Errors:</h5>
                    {% for field, errs in form.errors.items() %}
                            <div class="alert alert-error form-horizontal">
                                {{ field }}:
                                {% for err in errs %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                    {% endfor %}
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="panel panel-info">
                    <div class="panel-heading">Description:
                    </div>
                    <div class="panel-body">{{item.description}}
                    </div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ url_for('feedbacks', item_id=item_id) }}">Feedbacks</a>
            <br>
            <br>
            <br>
</div>

{% endblock %}