<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    {% block navigation %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ГАЛАКТИКА КОМПЬЮТЕРОВ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-collapse collapse">
            <li><a href="{{ url_for('show_items') }}">Калог товаров</a></li>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Войти</a></li>
            {% else %}
                <li><a href="{{ url_for('basket') }}"><i class="glyphicon glyphicon-shopping-cart"></i> Корзина</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ current_user.firstname }} {{ current_user.lastname }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('personal') }}">Личный кабинет</a></li>
                        {% if not current_user.is_admin %}
                        <li><a href="{{ url_for('show_orders') }}">Мои заказы</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if (not current_user.is_anonymous) and current_user.is_admin %}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        admin menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('show_users') }}">Пользователи</a></li>
                        <li><a href="{{ url_for('add_user') }}">Добавить пользователя</a></li>
                        <li><a href="{{ url_for('add_item') }}">Добавить товар</a></li>
                        <li><a href="{{ url_for('import_item') }}">Импорт товаров из CSV</a></li>
                        <li><a href="{{ url_for('show_orders') }}">Заказы</a></li>
                    </ul>
                </li>
                <!--<li><a href="{{ url_for('show_users') }}">Пользователи</a></li>-->
                <!--<li><a href="{{ url_for('add_item') }}">Добавить товар</a></li>-->
                <!--<li><a href="{{ url_for('import_item') }}">Импорт товаров из CSV</a></li>-->
                <!--<li><a href="{{ url_for('add_user') }}">Добавить пользователя</a></li>-->
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    <br><br>
    <div class="container-fluid">
        <div class='row' style="background-color:#E0FFFF">
            <div class="col-md-1"></div>
                {% block content %}{% endblock %}
            <div class="col-md-1"></div>
        </div>
    </div>

    {% block footer %}
        <footer>

            <div class="footer_block">
                <div class="row" style="background-color:#f8f8f8">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4">
                        <p></p>
                        <h6>О компании</h6>
                        <h6>Карьера</h6>
                        <h6><a href="https://vk.com/id51875870">Мой ВК</a></h6>
                    </div>
                </div>
                <div class="row" style="background-color:#f8f8f8">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-copyright-mark"></i>  2020 Grigoriy Babanin
                        <p></p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

</body>
</html>