{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6 well well-lg">
            <h1><br>Log In<br></h1>
        <form action="/login" method="post">
            {{ form.csrf_token }}
            <div>
                {% for field in (form.login, form.password, form.remember_me) %}

                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <div>{{ field(size=64) }}</div>
                    </div>

                {% endfor %}
            {{ form.submit }}
            <br>
            <br>
            <div class="form-horizontal">
                <div class="well well-lg">Еще не зарегистрированы? <a href="/register">Регистрация</a></div>
            </div>
            </div>
        </form>

        {% if form.errors %}
            <br>
            <div class="bg-danger well well-lg">
                <h4>Errors:</h4>
                    {% for field, errs in form.errors.items() %}
                            <div class="alert alert-error form-horizontal">
                                {{ field }}:
                                {% for err in errs %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
{% endblock %}