{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-6 well well-lg">
        <br>
            <h3>{{ title }}</h3>
            <p><br>{{msg}}<br></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
{% endblock %}